{% trans_default_domain 'FOSUserBundle' %}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Your profile</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="team-member">
                    <!-- Team Member Photo -->
                    <div class="team-member-image"><img src="{{ user.getAvatarWeb | imagine_filter('profile_picture') }}" alt=""></div>
                    <div class="team-member-info">
                        <ul>
                            <!-- Team Member Info & Social Links -->
                            <li class="team-member-name">
                                {{ user.username }}
                                {#
                                <span class="team-member-social">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-github"></i></a>
                                    <a href="#"><i class="icon-tumblr"></i></a>
                                </span>
                                #}
                            </li>
                            <li>Member since: {{ user.lastLogin|date('F m, Y') }}</li>
                        </ul>
                        <a href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <div class="team-member">
                    {{ render(controller('AppBundle:Profile:userPictures')) }}
                </div>
            </div>
        </div>
    </div>
</div>
