<div class="row">
    {% for image in images %}
    <div class="col-md-3 col-sm-6">
        <!-- Product -->
        <div class="shop-item">
            <!-- Product Image -->
            <div class="shop-item-image">
                <a href="{{ path('image_page', {'imageid': image.id, 'basename': image.originalName}) }}">
                    <img src="{{ image.path | webImageURL('picture_thumbnail') }}" alt="{{ image.originalName }}">
                </a>
            </div>
            <!-- Product Title -->
            <div class="title" style="padding:0px;">
                <h3>
                    <a href="{{ path('image_page', {'imageid': image.id, 'basename': image.originalName}) }}">
                        {{ image.title | truncate(17) }}
                    </a>
                </h3>
            </div>
        </div>
        <!-- End Product -->
    </div>
    {% else %}
    <div class="alert alert-success">
        Currently you dont have any image
    </div>
    {% endfor %}
</div>
