<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets filter='cssrewrite' output='css/compiled/app.css'
    'bower/bootstrap/dist/css/bootstrap.min.css'
    'bower/font-awesome/css/font-awesome.css'
    'bower/jquery-ui-bootstrap/jquery.ui.theme.css'
    'bower/jquery-ui-bootstrap/jquery.ui.theme.font-awesome.css'
    'bower/jquery-file-upload/css/jquery.fileupload.css'
    'bower/jquery-file-upload/css/jquery.fileupload-ui.css'
    'css/icomoon-social.css'
    'css/main-orange.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,600,800">
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile ({{ app.user.username }})</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('img/mPurpose-logo.png') }}" alt="Multipurpose Twitter Bootstrap Template">
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                <li>
                    <a href="credits.html">Credits</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Another super image hosting</h3>

                <p>
                    Is it better than other cloud hosting?
                    <br>Hmmm.... let we see... .
                </p>
            </div>
            <div class="col-md-8">
                <h4>Upload new file(s)</h4>
                <!-- The file upload form used as target for the file upload widget -->
                {{ render(controller('AppBundle:Upload:form')) }}
            </div>
        </div>

        {% if app.session.flashbag.peekAll|length %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" style="margin-bottom:0px;">
                        <strong>Well done!</strong>
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger" style="margin-bottom:0px;">
                        <strong>Oh snap!</strong>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% block body %}{% endblock %}

<!-- Footer -->
<div class="footer">
    <div class="container">
        {#
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Our Latest Work</h3>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="page-portfolio-item.html"><img src="{{ asset('img/portfolio6.jpg') }}" alt="Project Name"></a>
                    </div>
                </div>
            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Navigate</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="page-blog-posts.html">Blog</a></li>
                    <li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
                    <li><a href="page-products-3-columns.html">eShop</a></li>
                    <li><a href="page-services-3-columns.html">Services</a></li>
                    <li><a href="page-pricing.html">Pricing</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                </ul>
            </div>

            <div class="col-footer col-md-4 col-xs-6">
                <h3>Contacts</h3>
                <p class="contact-us-details">
                    <b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
                    <b>Phone:</b> +44 123 654321<br/>
                    <b>Fax:</b> +44 123 654321<br/>
                    <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>Stay Connected</h3>
                <ul class="footer-stay-connected no-list-style">
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="googleplus"></a></li>
                </ul>
            </div>
        </div>
        #}
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2015 imager. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary btn-xs start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning btn-xs cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
                        <img src="{%=file.thumbnailUrl%}" style="max-width:150px;max-height:150px;">
                    </a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-success cancel">
                    <i class="fa fa-check-circle"></i>
                    <span>Ok</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}

{% block javascripts %}
{% javascripts output='js/compiled/app.js'
'bower/jquery/dist/jquery.min.js'
'bower/jquery-ui/jquery-ui.min.js'
'bower/holderjs/holder.min.js'
'bower/sequencejs/scripts/jquery.sequence-min.js'
'bower/dw-bxslider-4/dist/jquery.bxslider.min.js'
'bower/blueimp-tmpl/js/tmpl.min.js'
'bower/blueimp-load-image/js/load-image.all.min.js'
'bower/blueimp-canvas-to-blob/js/canvas-to-blob.min.js'
'bower/bootstrap/dist/js/bootstrap.min.js'
'bower/jquery-file-upload/js/jquery.iframe-transport.js'
'bower/jquery-file-upload/js/jquery.fileupload.js'
'bower/jquery-file-upload/js/jquery.fileupload-process.js'
'bower/jquery-file-upload/js/jquery.fileupload-image.js'
'bower/jquery-file-upload/js/jquery.fileupload-validate.js'
'bower/jquery-file-upload/js/jquery.fileupload-ui.js'
'//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
'//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'
'js/main-menu.js'
'js/template.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
</body>
</html>
