{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Product Image & Available Colors -->
                <div class="col-sm-6">
                    <div class="product-image-large">
                        <img alt="Item Name" src="{{ image | webImageURL('picture_page') }}">
                    </div>
                    Uploader: {{ image.user is not empty ? image.user.username : 'anonymous' }}
                    , Views: {{ image.views }}
                </div>
                <!-- End Product Image & Available Colors -->
                <!-- Product Summary & Options -->
                <div class="col-sm-6 product-details">
                    <h4>{{ image.title }}</h4>
                    {% if image.description is not empty %}
                    <h5>Quick Overview</h5>
                    <p>
                        {{ image.description }}
                    </p>
                    {% endif %}
                    <table class="shop-item-selections">
                        <!-- Color Selector -->
                        <tbody>
                        <tr>
                            <td><b>Original dimension:</b></td>
                            <td>
                                {{ image.width }}&times;{{ image.height }} px
                            </td>
                        </tr>
                        <!-- Size Selector -->
                        <tr>
                            <td><b>Size:</b></td>
                            <td>
                                {{ image.size | filesize }}
                            </td>
                        </tr>
                        <!-- Quantity -->
                        <tr>
                            <td><b>Added at:</b></td>
                            <td>
                                {{ image.created | date }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {% for name, code in imageCodes %}
                        {% if 'webcode_' in name %}
                        <div class="row">
                            <div class="col-md-6">
                                <textarea wrap="off" style="width:95%;">{{ image | webImageURL(name, true) }}</textarea>
                            </div>
                            <div class="col-md-6">
                                {{ name }}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- End Product Summary & Options -->

                <!-- Full Description & Specification -->
                <div class="col-sm-12">
                    <div class="tabbable">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs product-details-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Comments</a></li>
                            {% if imageExif.camera != false %}
                            <li><a data-toggle="tab" href="#tab2">EXIF data</a></li>
                            {% endif %}
                        </ul>
                        <!-- Tab Content (Full Description) -->
                        <div class="tab-content product-detail-info">
                            <div id="tab1" class="tab-pane active">

                                <div class="row">
                                    <!-- Featured News -->
                                    <div class="col-sm-6 featured-news">
                                        <h2>Comments ({{ comments.getTotalItemCount }})</h2>
                                        {{ knp_pagination_render(comments) }}
                                        {% for comment in comments %}
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                {% if comment.user is null %}
                                                    <img src="{{ gravatar(comment.email) }}">
                                                {% else %}
                                                    <img src="{{ comment.user.getAvatarWeb | imagine_filter('picture_user_comment') }}">
                                                {% endif %}

                                                {% if comment.user is not empty %}
                                                    <br>{{ comment.user.username }}
                                                {% else %}
                                                    <br>{{ comment.username }}
                                                {% endif %}
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="date">{{ comment.created | date }}</div>
                                                <div class="intro">{{ comment.comment }}</div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {{ knp_pagination_render(comments) }}
                                    </div>
                                    <!-- End Featured News -->
                                    <!-- Latest News -->
                                    <div class="col-sm-6 latest-news">
                                        <h2>Add new comment</h2>
                                        {{ form_start(formComment) }}
                                        {{ form_widget(formComment) }}
                                        {{ form_end(formComment) }}
                                    </div>
                                    <!-- End Featured News -->
                                </div>
                            </div>
                            {% if imageExif.camera != false %}
                            <!-- Tab Content (Specification) -->
                            <div id="tab2" class="tab-pane">
                                {{ render(controller('AppBundle:Image:imageExif', {'exifArray' : imageExif.data})) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End Full Description & Specification -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
