{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <h2>Ostatnie pliki</h2>
            <div class="row">
                {% for image in images %}
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="portfolio-image">
                            <a href="{{ path('image_page', {'imageid': image.id, 'basename': image.originalName}) }}">
                                <img src="{{ image | webImageURL('picture_homepage') }}" alt="{{ image.title }}">
                            </a>
                        </div>
                        <div class="portfolio-info">
                            <ul>
                                <li class="portfolio-project-name">{{ image.originalName | truncate }}</li>
                                <li>{{ image.description }}</li>
                                <li><small>{{ image.comments.count }} comments</small></li>
                                <li class="read-more">
                                    <a href="{{ path('image_page', {'imageid': image.id, 'basename': image.originalName}) }}" class="btn">
                                        Read more
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="section">
        <div class="container">
            <h2>Happy Clients</h2>
            <div class="row">
                <!-- Testimonial -->
                <div class="testimonial col-md-4 col-sm-6">
                    <!-- Author Photo -->
                    <div class="author-photo">
                        <img src="{{ asset('img/user1.jpg') }}" alt="Author 1">
                    </div>
                    <div class="testimonial-bubble">
                        <blockquote>
                            <!-- Quote -->
                            <p class="quote">
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut."
                            </p>
                            <!-- Author Info -->
                            <cite class="author-info">
                                - Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                            </cite>
                        </blockquote>
                        <div class="sprite arrow-speech-bubble"></div>
                    </div>
                </div>
                <!-- End Testimonial -->
                <div class="testimonial col-md-4 col-sm-6">
                    <div class="author-photo">
                        <img src="{{ asset('img/user5.jpg') }}" alt="Author 2">
                    </div>
                    <div class="testimonial-bubble">
                        <blockquote>
                            <p class="quote">
                                "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."
                            </p>
                            <cite class="author-info">
                                - Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                            </cite>
                        </blockquote>
                        <div class="sprite arrow-speech-bubble"></div>
                    </div>
                </div>
                <div class="testimonial col-md-4 col-sm-6">
                    <div class="author-photo">
                        <img src="{{ asset('img/user2.jpg') }}" alt="Author 3">
                    </div>
                    <div class="testimonial-bubble">
                        <blockquote>
                            <p class="quote">
                                "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                            </p>
                            <cite class="author-info">
                                - Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                            </cite>
                        </blockquote>
                        <div class="sprite arrow-speech-bubble"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
