<table>
    <tbody>
    {% for key, exif in exifHuman.exifData %}
        <tr>
            <td>{{ attribute(exifHuman, key).label }}</td>
            <td>{{ attribute(exifHuman, key).value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
