{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row">
                <div class="col-sm-5">
                    <div class="basic-login">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group">
                                <label for="username" class="control-label required">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label required">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" class="form-control" name="_password" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="remember_me" class="control-label required">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>

                            <div class="form-group">
                                <input type="submit" id="_submit" class="btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1 social-login">
                    <p>You can use your Facebook or Twitter for registration</p>
                    <div class="social-login-buttons">
                        <a href="#" class="btn-facebook-login">Use Facebook</a>
                        <a href="#" class="btn-twitter-login">Use Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
