{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <h2>Ostatnie pliki</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    adsfadfad
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
